---
import Layout from "@/layouts/Layout.astro";
import PattternBG from "@/components/PatternBG.astro";
import Navbar from "@/components/Navbar.astro";
import IndexGrid from "@/components/cards/IndexGrid.astro";
import LanguageSelector from "@/components/LanguageSelector.astro";
import Logo from "@/components/Logo.astro";
import About from "@/components/mainPage/About.astro";
import Technology from "@/components/mainPage/Technology.astro";
import Experience from "@/components/mainPage/Experience.astro";
import Team from "@/components/mainPage/Team.astro"
---

<script>
  import { spring, inView, animate } from "motion"

  const inAnimateR = document.querySelectorAll(".inAnimateR");
  const inAnimateL = document.querySelectorAll(".inAnimateL");
  const inAnimateB = document.querySelectorAll(".inAnimateB");

  inView(inAnimateR, ({target}) => {
      animate(target, 
        { 
          x: ["30%", "0%"], opacity: [0, 1]
        },
        {
          duration: 0.4,
          delay: 0.3,
          easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
        },
      )
  });

  inView(inAnimateL, ({target}) => {
      animate(target, 
        { 
          x: ["-30%", "0%"], opacity: [0, 1]
        },
        {
          duration: 0.4,
          delay: 0.3,
          easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
        },
      )
  });

  inView(inAnimateB, ({target}) => {
      animate(target, 
        { 
          y: ["60%", "0%"], opacity: [0, 1]
        },
        {
          duration: 0.4,
          delay: 0.3,
          easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
        },
      )
  });
</script>

<Layout title="Eco_Page">
  <main>
    <div id="lang" class="relative flex justify-between md:justify-end pt-3 pl-3 pr-3 z-50 transition-all duration-300">
      <div class="flex items-center">
        <Logo class="w-7 block md:hidden"/>
      <p class="pl-3 font-satoshi font-bold block md:hidden">Eco_Jrsg</p>
      </div>
      <LanguageSelector/>
    </div>
    <nav id="navbar" class="fixed w-full top-[-105px] md:block transition-all duration-300 z-50">
      <Navbar/>
    </nav>
    <PattternBG>
      <div id="Inicio" class="min-h-[90vh] grid place-content-center">
        <IndexGrid/>
      </div>
    </PattternBG>
    <div class="flex flex-col pt-20 p-12 xl:px-64 gap-40 justify-center items-center">
      <div id="About" class="flex justify-center relative max-w-[1200px] mx-auto">
        <About/>
      </div>
      <div id="Technology" class="inAnimateB opacity-0 min-w-[90%]">
        <Technology/>
      </div>
      <div class="max-w-[1200px] mx-auto">
        <Experience />
      </div>
      <div class="hidden">
        <Team />
      </div>
    </div>
  </main>
</Layout>

<style>
  .hidden {
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
  }
</style>

<script is:inline data-astro-rerun>
  {
    const navbar = document.getElementById("navbar");
    const offsetPercentage = 50;
    const windowHeight = window.innerHeight;
    const offset = (windowHeight * offsetPercentage) / 80;

    window.addEventListener('scroll', () => {
      const currentScroll = window.scrollY || document.documentElement.scrollTop;

      if (currentScroll >= offset) {
        navbar.style.transform = 'translateY(100px)';
      }

      if (currentScroll <= offset + 260) {
        navbar.style.transform = 'translateY(-100px)';
      }
    }, false);
  }
</script>