---
interface Props {
  href: string;
  blank?: boolean;
  class?: string;
}

const { href, blank, class: className, ...rest } = Astro.props;

const target = blank ? '_blank' : undefined;
const rel = blank ? 'noopener noreferrer' : undefined;
---

<a href={href} class={className} target={target} rel={rel} {...rest}>
    <slot/>
</a>