---
import Logo from "@/components/Logo.astro"
import Link from "@/components/Link.astro"
import LanguageSelector from "@/components/LanguageSelector.astro"
import { navLinks } from "@/lib/navLinks";

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

type Props = {
    class?: string 
}

const {class: className} = Astro.props
---

<nav class=`${className} flex justify-center z-0`>
    <div class="navbar-bg p-4 hidden lg:block w-4/5">
        <div class="flex justify-between items-center">
            <div class="px-2">
                <Link href="/">
                    <Logo class="w-10"/>
                </Link>
            </div>
            <div class=" flex justify-end items-center">
                {navLinks.map((link, index) => (
                    <>
                        <Link href={link.href} class="px-2">
                            <span class="font-satoshi text-gray-300 hover:text-white transition-all">{t(link.i18nKey)}</span>
                        </Link>
                        { (index === 4 || index === 6) && (
                            <span aria-hidden="true" class="px-4 text-gray-300">
                                |
                            </span>
                        )}
                    </>
                ))}
                <LanguageSelector/>
            </div>
        </div>
    </div>
</nav>

<style>
    .navbar-bg {
        background-color: transparent;
        background-image: radial-gradient(transparent 1px, rgba(15, 17, 21, 1) 1px);
        background-size: 4px 4px;
        backdrop-filter: blur(3px);
        opacity: 1;
        border-bottom: 2px #542187;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        border-style: solid;
    }
</style>